body {
	background-attachment:fixed;
	background-color:#000000;
	background-image:url(../img/bg.jpg);
	background-position:center top;
	background-repeat:no-repeat;
	color:#FFFFFF;
	margin:0;
	padding:0;
}

#pageContainer {
	background: url(../img/center_bg.jpg) repeat-y scroll center top #000000;
	margin:auto;
	position: relative;
	width: 1000px;
	min-height: 800px;
	margin-top:15px
	
}

h1, h2, p {
	margin-top:0;
}